# Project exclude paths
backend/target/
backend/.idea/
**.iml

Battlesnake-KP.pem

# Environment variables
.env
.env.local
.env.production
.env.*.local

# Docker
.dockerignore

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# Build outputs
dist/
build/
target/

.idea/


# OS
.DS_Store
Thumbs.db